<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Solitare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Solitare.Properties.Settings>
            <setting name="drawCards" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="cardBack" serializeAs="String">
                <value />
            </setting>
            <setting name="standardScoring" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vegasScoring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cumulativeScoring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoFlip" serializeAs="String">
                <value>True</value>
            </setting>
        </Solitare.Properties.Settings>
    </userSettings>
</configuration>